main {
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: consolas;
    display: flex;
    flex-flow: row wrap;

}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.text {
    color: #3A5A40;

    h1 {
        color: #344E41;
    }

    width: 400px;
}

.head-info {
    color: #344E41;

}

.main-info {
    display: flex;
    flex-direction: column;
}

.main-info-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

.info-img {
    max-width: 20px;
    max-height: 20px;
}

.msg {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    height: 800px;
    background-color: #3A5A40;
    border-radius: 12px;
    border-color: #A3B18A;
    border-style: solid;
    border-width: 2px;
}

.msg-titel {
    font-size: 15px;
    text-align: center;
    color: white;
    margin-top: 5%;
}

.post-email {
    display: flex;
    width: 250px;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

textarea[id="msg-box"]::placeholder {
    color: white;
    padding-left: 27px;
    padding-top: 10px;
    font-weight: 600;


}

.msg-box {
    background-color: #A3B18A;
    color: #3D4C5B;
    width: 350px;
    border-color: #3D4C5B;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;

}

input[id="email-msg"] {
    background-color: #A3B18A;
    color: #3D4C5B;
    width: 350px;
    height: 40px;
    border-style: solid;
    border-width: 0px;
    border-radius: 15px;
}

input[id="name"] {
    background-color: #A3B18A;
    width: 350px;
    height: 40px;
    border-style: solid;
    border-width: 0px;
    border-radius: 15px;
}

input[id="name"]::placeholder {
    color: white;
    padding: 27px;
    font-weight: 600;

}

input[id="email-msg"]::placeholder {
    color: white;
    padding: 27px;
    font-weight: 600;

}

.select {
    width: 350px;
    height: 40px;
    background-color: #A3B18A;
    color: white;
    border-style: solid;
    border-width: 0px;
    border-radius: 15px;
}

.send-button {
    display: flex;
    margin-right: 5px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #A3B18A;
    border-style: solid;
    border-width: 0px;
    font-weight: 550;
}

.send-button:hover {
    background-color: #588157;
}