
main {
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: consolas;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.1;
}

.big-text {
    font-size: 70px;
    color: #3A5A40;
}

.medium-text {
    font-size: 30px;
    color: #588157;
    font-weight: 200;
    width: 730px;
    text-align: center;
}

.main-text {
    margin-top: 95px;
    margin-bottom: 95px;
    font-size: 23px;
    color: #588157;
    font-weight: 200;
    width: 730px;
    text-align: center;
}

.main-intro {
    color: #3A5A40;
    font-size: 29px;
    font-weight: 600;
}

.links {
    color: #588157;
}

.post-it {
    display: flex;
    justify-content: space-around;
    width: 1500px;
}

.box {
    display: flex;
    flex-flow: column wrap;
    background-color: #588157;
    width: 450px;
    height: 370px;
    box-shadow: 20px 20px #A3B18A;
}

.box-text {
    width: 270px;
    font-size: 17px;
    margin-left: 20px;
    line-height: 1.5;
}

.box-title{
    font-size: 25px;
    margin-left: 20px;
}
.box-link{
    font-style: italic;
    color: #A3B18A;
    text-decoration: none;
}