main {
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: consolas;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.1;
}

.big-text {
    font-size: 70px;
    color: #3A5A40;
}

.medium-text {
    font-size: 30px;
    color: #588157;
    font-weight: 200;
    width: 700px;
    text-align: center;
}