body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DAD7CD;
    height: auto;
    width: auto;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
    height: 80px;
    background-color: #588157;
    border-radius: 17px;
    font-family: "Press Start 2P";
    position: fixed;
    top: 20px;
}

.home-button {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.nav-button-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 8px;
}

.navbar-second {
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.navbar-img {
    display: flex;
    width: 60px;
    height: 50px;
    border-style: solid;
    border-radius: 12px;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5px;
}

.home-img {
    max-width: 60px;
    max-height: 60px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
    height: 80px;
    background-color: #588157;
    border-radius: 17px;
    font-family: "Press Start 2P";
    bottom: 20px;
    position: fixed;

}

.footer-text {
    text-decoration: none;
    color: #000;
    font-size: 6px;
}

.footer-socials {
    display: flex;
    height: 70px;
    width: auto;
    flex-flow: column wrap;
    font-size: 7px;
    color: #3A5A40;
    margin-top: 10px;
}


.footer-first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

.social {
    margin-bottom: -1px;
}
