main {
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: consolas;
    display: flex;
    flex-flow: row wrap;
}

.project-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: #344E41;
    height: 360px;
    width: 450px;
    color: white;
    border-radius: 12px;
    margin: 200px;
}


.project-img {
    max-width: 45px;
    max-height: 45px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.box-title {
    background-color: #588157;
    width: 450px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.box-text {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
}

.box-text-front {
    font-weight: 600;
}

.title {
    font-size: 100px;
    color: #344E41;
}
.subtitle{
    font-size: 25px;
    color: #588157;
    width: 300px;
    margin-top: -50px;
}